<div class="container container-fluid">
  <div class="page-header">
    <div class="pull-right">
      <% if params[:complete] %>
        <%= link_to 'All', tasks_path %> | <%= 'Incomplete' %>
      <% else %>
        <%= 'All'%> | <%= link_to 'Incomplete', tasks_path(:complete => false) %>
      <% end %>
      <%= link_to 'New Task', new_task_path, class:"btn btn-info" %>
    </div>
    <h1>Tasks</h1>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th><%= link_to 'Task Description', tasks_path(filter_params({order_by_desc: true}))%></th>
        <th><%= link_to 'Completed?', tasks_path(filter_params({complete: true})) %></th>
        <th><%= link_to 'Due Date', tasks_path(filter_params({order_by_due_date: true})) %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody >
      <% @tasks.each do |task| %>
        <% if (@today..(@today+7)).cover?(task.due_date) == true %>
          <tr bgcolor="EE9999">
            <td ><%= task.description %></td>
            <td ><%= task.complete %></td>
            <td ><%= task.due_date %></td>
            <td class ="pull-right"><%= link_to 'Show', task, class: "btn btn-success" %> <%= link_to 'Edit', edit_task_path(task), class: "btn btn-primary" %> <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </tr>
        <% else %>
          <tr>
            <td ><%= task.description %></td>
            <td ><%= task.complete %></td>
            <td ><%= task.due_date %></td>
            <td class ="pull-right"><%= link_to 'Show', task, class: "btn btn-success" %> <%= link_to 'Edit', edit_task_path(task), class: "btn btn-primary" %> <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
