<div class="container container-fluid">
  <div class="page-header">
    <div class="pull-right">
      <% if params[:complete] %>
        <%= link_to 'All', tasks_path, style: "color: #3399ff" %> | <%= 'Incomplete' %>
      <% else %>
        <%= 'All'%> | <%= link_to 'Incomplete', tasks_path(:complete => false), style: "color: #3399ff" %>
      <% end %>
      <%= link_to 'New Task', new_task_path, class:"btn btn-info" %>
    </div>
    <h1>Tasks</h1>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Completed?</th>
        <th>Due Date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody >
      <% @tasks.each do |task| %>
        <% if (@today..(@today+7)).cover?(task.due_date) == true %>
          <tr bgcolor="EE9999">
            <td class="table-spacing"><%= task.description %></td>
            <td class="table-spacing"><%= task.complete %></td>
            <td class="table-spacing"><%= task.due_date %></td>
            <td class="table-spacing"><%= link_to 'Show', task, class: "btn btn-success" %></td>
            <td class="table-spacing"><%= link_to 'Edit', edit_task_path(task), class: "btn btn-primary" %></td>
            <td class="table-spacing"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </tr>
        <% else %>
          <tr>
            <td class="table-spacing"><%= task.description %></td>
            <td class="table-spacing"><%= task.complete %></td>
            <td class="table-spacing"><%= task.due_date %></td>
            <td class="table-spacing"><%= link_to 'Show', task, class: "btn btn-success" %></td>
            <td class="table-spacing"><%= link_to 'Edit', edit_task_path(task), class: "btn btn-primary" %></td>
            <td class="table-spacing"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
