<div class="page-header">
  <div class="pull-right">
    <%= link_to "New User", new_user_path, class: "btn btn-info" %>
  </div>
  <h1>Users</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>E-mail</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %> <%=user.last_name %></td>
        <td><%= mail_to user.email %></td>
        <td><%= link_to "Edit", edit_user_path(user) %>
        <td><%= link_to "Delete", user_path(user), method: :delete, data: {confirm: "Are you sure you want to delete this user?"} %>
      </tr>
    <% end %>
  </tbody>
</table>
