<div class= "well col-md-4 col-md-offset-4">
  <h3>Sign Up for gCamp!</h3>

  <%= form_for(@user, url: '/signup') do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation" class= "alert alert-danger">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: </h3>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.label :first_name, class: "control-label" %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :last_name, class: "control-label" %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email, class: "control-label" %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "control-label" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: "control-label" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Sign Up", class: "btn btn-primary", id: "submit-signup-action" %>
    </div>
  <% end %>
</div>
